@model ClientManagerApplication.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h3>
    Details of @Html.DisplayFor(model => model.Person.first_name)
    @Html.DisplayFor(model => model.Person.last_name)'s
    @Html.DisplayFor(model => model.information_type) Record
</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.information_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.information_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.information)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contact_id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.person_id })
</p>
